<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Django Application</title>
</head>
<body>
    <a href="listas/">Ir a las Listas</a>
    <a href="https://www.marca.com">Ir a la marca...</a>
    <a href="/app/">Home</a>
    <a href="viernes/">Ir al Viernes</a>
    <header>
        <h1 style="color: blue;">BIENVENIDO A MI PRIMERA PAGINA WEB CON DJANGO</h1>
        <h3 style="color:chartreuse">ESTA ES MI PRIMERA PAGINA WEB</h3>
    </header>
    <main>
        <p style="color:blueviolet">This is the main content of the page.</p>
    </main>
    <footer>
        <p style="color:darkcyan">&copy; 2023 My Django Application. All rights reserved.</p>
    </footer>
</body>
</html>