<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listas</title>
    <link rel="stylesheet" href="{% static 'aplicacion/css/styles.css' %}">
</head>
<body>
    <a href="/app/">Volver a Home</a>
    <header>
        <h1>PAGINA DE LISTAS</h1>
        <h3> PRESENTANDO LISTAS</h3>
        <ul>
            <li>CAFE</li>
            <li>Te</li>
            <li>LECHE</li>
            <li>AGUA</li>
            <li>REFRESCO</li>
        </ul>

        <br>
        <ul style="list-style-type:circle;">
            <li>CAFE</li>
            <li>Te</li>
            <li>LECHE</li>
            <li>AGUA</li>
            <li>REFRESCO</li>
        </ul>
    </header>
   
</body>
</html>