<!DOCTYPE html>
<html lang="es">
<head>
    <!-- control k y control c para poner comentarios y en mac command k y command c -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="color: blueviolet;">Pagina para Viernes</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/peliculas.css' %}">
</head>
<body>
   
    {% include 'aplicacion/menu.html' %}
    <br>
    <h1>Bienvenido al Viernes</h1>
    <img src="https://www.ovhcloud.com/sites/default/files/styles/large_screens_1x/public/2023-03/ipv4-pricing-adjustments.jpeg" width="300" height="200">
    
    <br> <br>

    <img src="https://media2.giphy.com/media/YtCAXWS94FZbWiKmKH/200w.gif?cid=6c09b9523chegsomsylz6heo3rfh1cc76chl4etxqn8nnu3j&ep=v1_gifs_search&rid=200w.gif&ct=g">
    <br>
    <p style="color:brown">Este es un ejemplo de una página HTML5 para Viernes</p>
</body>
</html>