
h1{
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

img{
    width: 200px;
    height: 300px;
    margin: 10px;
}